// Pulse animation
.pulse {
  animation: pulse 1s infinite;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: 1;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
// Friends bar animation

.contact-animation.ng-enter, 
.contact-animation.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.contact-animation.ng-enter.ng-enter-active, 
.contact-animation.ng-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.contact-animation.ng-leave.ng-leave-active,
.contact-animation.ng-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}
// Main animation
.ng-enter,
.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.ng-enter.ng-enter-active,
.ng-move.ng-move-active {
  opacity:1;
}

.ng-leave {
  -webkit-animation:0.5s lst_fade;
  -moz-animation:0.5s lst_fade;
  -o-animation:0.5s lst_fade;
  animation:0.5s lst_fade;
}

@keyframes lst_fade {
  from { opacity:1; }
  to { opacity:0; }
}


@-webkit-keyframes lst_fade {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes lst_fade {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes lst_fade {
  from { opacity:1; }
  to { opacity:0; }
}
