/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

/* Responsive styles
-------------------------------------------------- */

@media only screen and (max-width: 480px) {
    table {
        font-size: 90%;
    }
    #main_panel {
    width: 100% !important;
    padding-right: 5px;
    padding-left: 5px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
  font-family: 'Georgia', serif;
    font-size: 16px;
    padding: 0;
}
#footer {
  position: fixed;
  bottom: 0;
  margin: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.form-group.last {
  margin-bottom:0px;
}

/* Custom page CSS
-------------------------------------------------- */
.panel-corners {
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.transparent {
    background: rgba(255, 255, 255, 0.9);
}
.panel-default {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
  margin-top:30px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* Custom webkit scrollbar CSS
-------------------------------------------------- */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
