// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#load-ico {
  width: 100%;
  text-align:center;
  display:block;
}

#infinite-scrolling {
  visibility: hidden;
}

#photos {
  border-top-color: rgb(229, 229, 229);
  border-top-style: solid;
  border-top-width: 1px;
}

#bar-toggle {
  position:fixed;
  height:150px;
  width:35px;
  margin-top:-50px;
  top:50%;
  font-size:30px;
  text-align: center;
  z-index: 1000;
  
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
}

#bar-ico {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-text {
    font-family: 'PT Sans', arial, serif;
    color:#ffffff;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    
    text-shadow: /* Simulating Text Stroke */
      -1px -1px 0 #000, 
       1px -1px 0 #000, 
      -1px 1px 0 #000, 
       1px 1px 0 #000;
}

.sidebar-active-text {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-link {
    margin: 0;
}
