// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-no-padding .panel-body {
  padding: 0 !important;
}

.panel-no-padding-top {
  padding-top: 0 !important;
}

.post-elem {
  width: 100%;
}

#photos {
  border-top-color: rgb(229, 229, 229);
  border-top-style: solid;
  border-top-width: 1px;
}

#bar-toggle {
  position:fixed;
  height:150px;
  width:30px;
  margin-top:-50px;
  top:50%;
  font-size:30px;
  text-align: center;
  z-index: 1000;
  
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
}

@media(min-width:768px) {
    #bar-ico {
        -ms-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    #bar-ico.rotate180  {
        -ms-transform-origin: initial;
        -webkit-transform-origin: initial;
        -moz-transform-origin: initial;
        transform-origin: initial;
        transform: initial;
        -moz-transform: initial;
        -webkit-transform: initial;
        -o-transform: initial;
        -ms-transform: initial;
    }
}

.rotate180  {
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

#bar-ico  {
  top: 50% !important;
  display: block !important;
  line-height: 0 !important;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.brand-header {
  color: #FFFFEF;
  font-size: 24pt;
  text-shadow: 1px 1px #777777, -1px -1px #000000;
}

.sidebar-active-text {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.btn-text {
    font-family: 'PT Sans', arial, serif;
    color:#ffffff;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    
    text-shadow: /* Simulating Text Stroke */
      -1px -1px 0 #000, 
       1px -1px 0 #000, 
      -1px 1px 0 #000, 
       1px 1px 0 #000;
}

