<!-- Modal Dialog -->
<div id="mainModal" class="modal hiden fade" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="modalNewPostCtrl" modal-actions>
	<div class="modal-dialog">
		<div class="modal-content" >
			<form id="postForm" name="postForm" ng-submit="submitPost()">
				<div id="fixed-div">
					<button ng-disabled="doPost" type="submit" class="btn btn-primary btn-lg" style="margin-right: 10px" id="dialogSubmit"><i class="glyphicon glyphicon-send"></i>&nbsp;Send!&nbsp;</button>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<!-- <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> -->
				<div class="modal-header modal-compact">
					<div class="form-group">
						<h3 id="myModalLabel">New Post:</h3>
						<input ng-disabled="doPost" type="text" name="title" id="modalTitle" placeholder="Title" class="modal-elem" ng-model="title" required>
					</div>
				</div>
				<div class="modal-body modal-compact">
					<div>
						<rich-text-editor is-active="active" content="text" name="text" id="modalBody" placeholder="Did you had a good time?" class="modal-elem" style="height: 155px;"></rich-text-editor>
					</div>
				</div>
				<div class="modal-footer modal-compact">
					<div class="form-group modal-elem">
						<file-uploader files="photos" uploads="currentUploads" do-callback="doPost" callback="send" id="modalNewPost">
							<span ng-disabled="doPost" class="btn btn-info fileinput-button"><i class="glyphicon glyphicon-picture"></i>
					        	<span>Add photos</span>
					        	<!-- The file input field used as target for the file upload widget -->
					        	<%= cl_image_upload_tag('photos[]', :folder => "currentuser", :return_delete_token => true, :html => { :multiple => true, 'ng-show' => "{{active}}" }) %>
			    			</span>
							<!-- The container for the uploaded files -->
							<table id="files-modalNewPost" role="presentation" class="table table-striped files"><tbody ng-disabled="doPost"></tbody></table>
						</file-uploader>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
