<div class="repeated-item" id="{{'p-' + (post.id)}}"  ng-repeat="post in items track by post.id" post-actions>
	<div class="panel panel-info panel-inner" ng-controller="postCtrl">
		<div class="panel-heading" style="position: relative; height: 45px;">
			<div style="display: inline-block; vertical-align: middle;">
				<h3 class="panel-title" ng-show="!edition">{{post.title}}</h3>
				<div ng-show="editable">
					<input type="text" name="title" ng-model="title" ng-show="edition">	
					<div class="btn-group" style="position: absolute; top: 5px; right: 5px;" ng-show="!edition">
						<button class="btn btn-default" ng-click="edition = true"><i class="glyphicon glyphicon-edit"></i></button>
						<button class="btn btn-default" ng-click="deletePost(post)"><i class="glyphicon glyphicon-trash"></i></button>
					</div>
					<div class="btn-group" style="position: absolute; top: 5px; right: 5px;" ng-show="edition">
						<button class="btn btn-primary" ng-click="updatePost(post)"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body panel-no-padding-top">
			<h4 class="rightText"><small ><em>{{post.updated_at}}</em></small></h4>
			<p ng-bind-html="post.text" ng-show="!edition"></p>
			<div class="post-elem" ng-show="edition">
				<rich-text-editor content="text" is-active="active" class="post-elem"></rich-text-editor>
			</div>
			<div class="post-elem rightText" ng-show="edition">
				<file-uploader files="photos" uploads="currentUploads" do-callback="doPost" callback="updatePost" id="{{'files-' + (post.id)}}">
					<span ng-disabled="doPost" class="btn btn-info fileinput-button"><i class="glyphicon glyphicon-picture"></i>
			        	<span>Add photos</span>
			        	<!-- The file input field used as target for the file upload widget -->
			        	<%= cl_image_upload_tag('photos[]', :folder => "currentuser", :return_delete_token => true, :html => { :multiple => true, 'ng-show' => "{{active}}" }) %>
	    			</span>
					<!-- The container for the uploaded files -->
					<table id="{{'files-' + (post.id)}}" role="presentation" class="table table-striped files">
						<tbody ng-disabled="doPost">
							<tr class="fade in" ng-repeat="resource in post.resources" ng-if="post.resources.length > 0">
								<td><cloud-image public_id="{{resource.public_id}}" width="90" height="90" crop="fill"></cloud-image></td>
								<td><span>{{post.title}}</span></td>
								<td><span><i class="text-info glyphicon glyphicon-paperclip"></i></span></td>
								<td><span><button class="btn btn-default btn-filelist"><i class="glyphicon glyphicon-trash"></i></button></span></td>
							</tr>
						</tbody>
					</table>
				</file-uploader>
			</div>
			<div id="links" class="post-elem" ng-if="post.resources.length > 0" ng-show="!edition">
				<a href="{{resource.url}}" gallery-link data-gallery="{{'#gallery-' + (post.id)}}" ng-repeat="resource in post.resources">
					<cloud-image public_id="{{resource.public_id}}" width="90" height="90" crop="fill"></cloud-image>
				</a>
			</div>
			
			<!-- <like-bar id="likes" ng-if="post.likes.length > 0" ng-show="!edition"> -->
			<like-bar id="likes" ng-show="!edition">
				
			</like-bar>
			
		</div>
	</div>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="commonId" class="blueimp-gallery">
	<!-- The container for the modal slides -->
	<div class="slides"></div>
	<!-- Controls for the borderless lightbox -->
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
	<!-- The modal dialog, which will be used to wrap the lightbox content -->
	<div class="modal modal-fullscreen fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body next"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left prev">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Previous
					</button>
					<button type="button" class="btn btn-primary next">
						Next
						<i class="glyphicon glyphicon-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

