<!-- Sidebar -->
<div id="sidebar-wrapper" style="overflow: hidden; bottom: 0">
    <div class="sidebar-nav" style="padding: 60px 5px 0px 5px; height: 100%;">
        <div class="brand-header" style="overflow: hidden; height: 8%"><p>Recent:</p></div>
		<div ng-controller="accordionCtrl" style="overflow: auto; height: 92%">
			<uib-accordion>
				<uib-accordion-group ng-repeat="month in data" is-open="open" ng-init="open = false" is-disabled="isDisabled(month)" panel-class="panel-no-padding">
					<uib-accordion-heading>
        				<strong>{{month.label | capitalize}}</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
      				</uib-accordion-heading>
					<ul>
						<li class="item" ng-repeat="item in month.posts">
							<a href="{{'#p-' + (item.id)}}" class="itemLink" link-handler>{{item.title | capitalize}}</a>
						</li>
					</ul>
				</uib-accordion-group>
	    	</uib-accordion>
		</div>
    </div>
</div>
<div id="bar-toggle" class="btn-text glass"><span id="bar-ico" class="glyphicon glyphicon-menu-left rotate180"></span></div>
<!-- /#sidebar-wrapper -->
